* {
    background-color: rgb(9,9,9);
    border: none;
    font-family: 'Courier New', monospace;
    /* borders on buttons get removed */
}

div html {
    /* min-height: 100%; */
    background-color: rgb(9,9,9);
}

div h1, div h2, div h3 {
  color: white;
}

div button {
  width: 90px;
  height: 40px;
  margin-bottom: 1rem;
  
}

.history {
  margin-top: 10px;
  text-align: center;
  color: #ff4300;
  font-weight: bolder;
  margin-bottom: 8rem;
}






/* carousel  */

/* border */
div.card {
    /* box-shadow: 0 4px 8px 0 rgb(62,62,62);  */
    max-width: 350px;
    /* 0.5rem margin dealing with width of the card */
    margin: 1rem 0.35rem;
    text-align: center;
    background-color: rgb(21,21,21);
    display: flex;
  }

  
  
.datetime {
  padding: 1rem;
  
  background-color: rgb(21,21,21);
  border-radius: 5px 5px 0px 0px;
  /* flex: auto; */
}

.date {
  display: flex;
  /* flex-direction column allows it to adjust to the shrinking */
  flex-direction: inherit;
  font-size: 3.80vmin;
  justify-content: center;
  background-color: rgb(21,21,21);
}

.time {
  /* font-size: 100%; */
  font-size: 2.0vmax;
  background-color: rgb(21,21,21);
}

.bothbuttons {
  display: flex;
  justify-content: center;
  background-color: rgb(21,21,21);
}

.update {
  background-color: rgb(21,21,21);
 
}



  /* the button itself */
a.btn.btn-outline-light {
  background: rgb(21,21,21);
}

  /* the hover over action */
a.btn.btn-outline-light:hover {
    background: white;

}

.delete {
    background-color: rgb(21,21,21);
  
}

  a.btn.btn-outline-danger {
    background-color: rgb(21,21,21);
    color: #ff4300;
    
  }

  a.btn.btn-outline-danger:hover {
    
    background-color: #ff4300;
    color: black;
  }


  /* update */



.updateTimeTitle {
  margin-top: 10px;
  text-align: center;
  color: #ff4300;
  font-weight: bolder;
  margin-bottom: 8rem;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 450px;
  background-color: rgb(21,21,21);
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
}

.updateInput {
  background-color: white;
}

.formButton {
  background-color: white;
}

.formButton:hover {
  background-color: #ff4300;
}

@media (max-width: 990px) and (min-width: 620px){
  .inputDiv {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 620px) {
  .inputDiv {
    width: 425px;
    height: 350px;
  }
}