* {
    background-color: rgb(9,9,9);
    border: none;
    font-family: 'Courier New', monospace;
    /* borders on buttons get removed */
}

div html {
    /* min-height: 100%; */
    background-color: rgb(9,9,9);
}

div h1, div h2, div h3 {
  color: white;
}

div button {
  width: 90px;
  height: 40px;
  margin-bottom: 1rem;
  
}

.history {
  margin-top: 10px;
  text-align: center;
  color: #ff4300;
  font-weight: bolder;
  margin-bottom: 8rem;
  margin-right: 25px;
}

p.timerText {
  color: white;
}

/* timer */

.btn.btn-primary.btn-lg {
  color: black;
  background-color: #ff4300;
  --bs-btn-padding-y: 0.3rem;
  border-color: #ff4300;
}

.btn.btn-primary.btn-lg:active {
  color: black;
  background-color: #ff4300;
  --bs-btn-padding-y: 0.3rem;
  border-color: #ff4300;
}


/* timer  */


/* modal */



.btn.btn-outline-danger.delete,
.btn.btn-outline-danger.delete:hover,
.btn.btn-outline-danger.delete:active {
  background-color: #ff4300;
  color: black;
}

.btn.btn-outline-light.cancel {
  background-color: white;
  color: black;
}

.modal-title.fs-5 {
  background-color: rgb(21,21,21);
}


/* .btn.btn-outline-light.modal:hover {
  
  background-color: #ff4300;
  color: black;
} */

div.modal-footer {
  background-color: rgb(21,21,21);
}

div.buttonclose {
  background-color: rgb(21,21,21);
  margin-top: -10px;
}

.modal-header {
  background-color: rgb(21,21,21);
}

.modal-content {
  background-color: rgb(21,21,21);
}

/* color of fade in of delete confirmation */
.modal.fade.show {
  opacity: 0.94;
}





/* modal */

/* carousel  */

/* border */
div.card {
    /* box-shadow: 0 4px 8px 0 rgb(62,62,62);  */
    max-width: 350px;
    /* 0.5rem margin dealing with width of the card */
    margin: 1rem 0.35rem;
    text-align: center;
    background-color: rgb(21,21,21);
    display: flex;
  }

  
  
.datetime {
  padding: 1rem;
  
  background-color: rgb(21,21,21);
  border-radius: 5px 5px 0px 0px;
  /* flex: auto; */
}

.date {
  display: flex;
  /* flex-direction column allows it to adjust to the shrinking */
  flex-direction: inherit;
  font-size: 3.80vmin;
  justify-content: center;
  background-color: rgb(21,21,21);
}

.time {
  /* font-size: 100%; */
  font-size: 2.0vmax;
  background-color: rgb(21,21,21);
}

.bothbuttons {
  display: flex;
  justify-content: center;
  background-color: rgb(21,21,21);
}

.update {
  background-color: rgb(21,21,21);
 
}

/* buttons in card update/delete */
.button {
  background-color: rgb(21,21,21);
}



  /* the button itself */
a.btn.btn-outline-light {
  background: rgb(21,21,21);
}

  /* the hover over action */
a.btn.btn-outline-light:hover {
    background: white;

}

.delete {
    background-color: rgb(21,21,21);
  
}

  a.btn.btn-outline-danger {
    background-color: rgb(21,21,21);
    color: #ff4300;
    
  }

  a.btn.btn-outline-danger:hover {
    
    background-color: #ff4300;
    color: black;
  }


  /* update */



.updateTimeTitle {
  margin-top: 10px;
  text-align: center;
  color: #ff4300;
  font-weight: bolder;
  margin-bottom: 8rem;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 500px;
  background-color: rgb(21,21,21);
  margin: -55px auto;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}

.labels {
  background-color: rgb(21,21,21);
  margin-top: -12px;
  margin-bottom: 10px;
}

.hours {
  color: white;
  font-size: 80%;
  background-color: rgb(21,21,21);
  
}

.minutes {
  color: white;
  margin-left: 92px;
  font-size: 80%;
  background-color: rgb(21,21,21);
}

/* container that holds all inputs */
.inputContainer {
  display: block;
  margin-top: -60px;
  background-color: rgb(21,21,21);
  margin: auto;
  margin-top: 50px;
}

/* labels outside inputcontainer2 */
.starttime {
  color: white;
  background-color: rgb(21,21,21);
}

.endtime {
  color: white;
  background-color: rgb(21,21,21);
}

.lunchtime {
  color: white;
  background-color: rgb(21,21,21);
}

.inputContainer2 {
  margin-top: 10px;
  background-color: rgb(21,21,21);
}

input {
  caret-color: #ff4300;
  text-align: center;
}

input:focus {
  outline: none;
}

input[type="tel"]::placeholder {
             
  /* Firefox, Chrome, Opera */
  text-align: center
}

.btn-group-vertical.btn-group-sm {
  margin-left: 20px;
}


.btn-group-vertical {
  border-color: #ff4300;
  background-color: rgb(21,21,21);
  width: 55px;
  height: 42px;
}

.btn.btn-outline-danger.am {
  background-color: rgb(21,21,21);
  border-color: #ff4300;
  color: #ff4300;
  
}

.btn.btn-outline-danger.am:hover {
  background-color: rgb(21,21,21);
  border-color: #ff4300;
  color: #ff4300;
  
}

.btn.btn-outline-danger.pm {
  background-color: rgb(21,21,21);
  border-color: #ff4300;
  color: #ff4300;
}

.btn.btn-outline-danger.pm:hover {
  background-color: rgb(21,21,21);
  border-color: #ff4300;
  color: #ff4300;
}

.btn-check:checked + .btn.btn-outline-danger.pm {
  background-color: #ff4300;
  color: black;
  border-color: #ff4300;
}

.btn-check:checked + .btn.btn-outline-danger.am {
  background-color: #ff4300;
  color: black;
  border-color: #ff4300;
}


.updateInput {
  background-color: white;
  width: 100px;
  height: 55px;
  margin-right: 20px;
}

.updateInput2 {
  background-color: white;
  width: 100px;
  height: 55px;
  margin-bottom: 10px;
}

/* need to work on this */

btn.btn-outline-danger:checked + #vbtn-radio1 {
  background-color: #ff4300;/* Change this to your desired background color */
}






.btn.btn-outline-light.update {
  background-color: white;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 25%;
}

.btn.btn-outline-danger.update {
  background-color: #ff4300;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 5%;
}

.btn.btn-outline-danger.update:active {
  background-color: #ff4300;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 5%;
}

@media (max-width: 990px) and (min-width: 620px){
  .inputDiv {
    width: 525px;
    height: 495px;
  }
  .btn.btn-outline-light.update {
    right: 27%;
  }
  
  .btn.btn-outline-danger.update {
    right: 5%;
  }

  
  
 
}

@media (max-width: 620px) {
  .inputDiv {
    width: 420px;
    height: 490px;
  }
  .btn.btn-outline-light.update {
    right: 30%;
    bottom: 0px;
  }
  
  .btn.btn-outline-danger.update {
    right: 5%;
    bottom: 0px;
  }
}