* {
    background-color: rgb(9,9,9);
    border: none;
    font-family: 'Courier New', monospace;
    /* borders on buttons get removed */
}

div html {
    /* min-height: 100%; */
    background-color: rgb(9,9,9);
}

div h1, div h2, div h3 {
  color: white;
}

div button {
  width: 90px;
  height: 40px;
  margin-bottom: 1rem;
  
}

.history {
    text-align: center;
    color: #ff4300;
    font-weight: bolder;
    margin-bottom: 8rem;
}






/* carousel  */

/* border */
div.card {
    box-shadow: 0 4px 8px 0 rgb(62,62,62); 
    max-width: 240px;
    margin: auto 1rem;
    text-align: center;
    background-color: rgb(21,21,21);
  }

  
  
.datetime {
  padding: 1rem;
  
  background-color: rgb(21,21,21);
  border-radius: 5px 5px 0px 0px;
  /* flex: auto; */
}

.date {
  display: flex;
  /* flex-direction column allows it to adjust to the shrinking */
  /* flex-direction: column; */
  font-size: 2.0vmax;
  justify-content: center;
  background-color: rgb(21,21,21);
}

.time {
  /* font-size: 100%; */
  font-size: 2.0vmax;
  background-color: rgb(21,21,21);
}

.update {
  background-color: rgb(21,21,21);
}

button.button {
  background: rgb(21,21,21);
  box-shadow: inset 0 0 0 15px rgb(21,21,21);
}

  /* the button itself */
a.btn.btn-outline-light {
  background: rgb(21,21,21);
  /* background: rgba(255,92,1); */
}

  /* the hover over action */
a.btn.btn-outline-light:hover {
    background: rgba(255,92,1);
   /* background: rgba(255,92,1); */
}

.delete {
    background-color: rgb(21,21,21);
}

  a.btn.btn-outline-danger {
    width: 83.2px;
    height: 37.6px;
    background-color: #ff4300;
    color: black;
  }

  a.btn.btn-outline-danger:hover {
    
    background-color: #ff4300;
  }